<html>
	<head>
		<meta name="layout" content="main" />
		<title>Logindfdfgdfg</title>
	</head>
	<body>

		<div class="body">
			<h1>Login</h1>
			<g:if test="${flash.message}">
				<div class="message">${flash.message}</div>
			</g:if>
			
			<g:form controller="user" action="authenticate" method="post" >
				<div class="dialog">
					<input type="hidden" name="cName" value="${cName}" >
					<input type="hidden" name="aName" value="${aName}" >
					<table>
						<tbody>
							<tr class="prop">
								<td class="name">
									<label for="login">Login:</label>
								</td>
								<td>
									<input type="text" id="login" name="login"/>
								</td>
							</tr>

							<tr class="prop">
								<td class="name">
									<label for="password">Password:</label>
								</td>
								<td>
									<input type="password" id="password" name="password"/>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="buttons">
					<span class="button">
						<input class="save" type="submit" value="Login" />
					</span>
				</div>
			</g:form>
		</div>

	</body>
</html>